*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#emoji{
    font-size:100px;
    cursor: pointer;
    filter:grayscale(1)
}

#emoji:hover{
    filter: grayscale(0);
    font-size: 150px;
    transform:rotate(-20deg);
}